footer ul li:hover {
  color: #ffc107;
  cursor: pointer;
}

footer a:hover {
  text-decoration: underline;
}

.footer-links li {
  margin-bottom: 10px; /* spacing */
  line-height: 1.8;    /* taller lines */
}
