.filter-panel-container {
  background: rgba(255, 255, 255, 0.08);
  backdrop-filter: blur(2px);
  border: 1px solid rgba(255, 255, 255, 0.4);
  min-width: 900px;
}

.filter-item {
  min-width: 180px;
}

.filter-item select {
  color: white;
  background-color: transparent;
}

.filter-item select option {
  color: black;
}

.search-btn {
  width: 42px;
  height: 42px;
  background: transparent;
}
