html {
  scroll-behavior: smooth;
}

.navbar-scrolled {
  background-color: black !important;
  transition: background-color 0.5s ease;
}

.home-screen {
  height: 65vh;
  background-size: cover;
  background-position: center;
  position: relative;
}

.navbar a {
  color: white;
  text-decoration: none;
  font-weight: 500;
}

.hero-content {
  position: absolute;
  top: 60%;
  left: 10%; /* fixed padding from left */
  transform: translateY(-50%);
  max-width: 700px; /* keeps text from stretching too wide */
}

@media (max-width: 768px) {
  .hero-content {
    left: 10%; 
    top: 60%;
    max-width: 90%; /* allow more room on small screens */
  }
}

.search-panel {
  background-color: rgba(255, 255, 255, 0.15);
  border: 1px solid #ffffff60;
  backdrop-filter: blur(8px);
}

.search-panel select {
  color: white;
}

.search-panel select option {
  color: black;
}

.dot-navigation .dot {
  width: 12px;
  height: 12px;
  background-color: white;
   transition: all 0.3s ease-in-out;
  cursor: pointer;
  opacity: 0.6;
}

.dot-navigation .dot.active {
  background-color: orange;
  transform: scale(1.5);
  opacity: 1;
}

.arrow-down {
  font-size: 1.2rem;
}

.sticky-navbar {
  position: sticky;
  top: 0;
  z-index: 1000; /* keep it above other content */
  width: 100%;
  transition: background-color 0.3s ease;
}