.search-bar {
  width: 100%;
  max-width: 400px;
  margin: 0;
  border-radius: 8px;
  overflow: hidden;
}

.search-bar .form-control {
  background-color: #f2f2f2;
  border: none;
  box-shadow: none;
  font-family: 'Manrope';
}

.search-bar .btn {
  border: none;
  border-radius: 0;
}

.search-bar .btn i {
  color: #0a2c4d;
}
.input-group .form-control {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-top-left-radius: 10px !important;
  border-bottom-left-radius: 10px !important;
}
