@import '@fortawesome/fontawesome-free/css/all.min.css';
@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap");
@import url("../src/assets/ivy-mode/stylesheet.css");

:root {
  --font-heading: "Ivy Mode";
  --font-body: "Manrope";
}
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.title-font {
  font-family: var(--font-heading);
  font-weight: 500;
}

.sub-font {
  font-family: var(--font-body);
}


.blu-txt {
  color: #0d4068;
}

.pwdr-blu {
  color: #bfcdd8;
}

.bg-blu {
  background-color: #e7ecf0;
}

.react-tel-input .flag-dropdown {
    border-radius: 8px 0 0 8px !important; 
}

.title-text {
   font-family: var(--font-heading);
   font-size: clamp(32px, 5vw, 60px);
}

.sub-title-text {
   font-family: var(--font-heading);
   font-size: clamp(15px, 5vw, 28px);
}

.sub-text {
  font-family: var(--font-body); 
  font-size: clamp(15px, 2.5vw, 30px);
}

.secondary-text {
  font-family: var(--font-body);
  font-size: clamp(10px, 2vw, 18px);
}

.screen-title {
  font-family: var(--font-heading);
  font-size: clamp(30px, 5vw, 50px);
  color: #0c2d57;
}
